
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">
            
                <h1 class="page-header">
                    <?php echo $post->topic; ?>
                    <small>by 
                        <?php 
                            echo $post->owner->name;

                            if(($post->owner->user_id == $user->user_id) or ($user->level == 'admin')){
                                echo '(<a href="'.base('post/update/'.$post->post_id).'">edit</a>)';
                            }                           
                        ?>                    
                    </small>
                </h1>
                <?php 
                    if($post->cover == true){
                        echo '<div class="cover"><img src="'.$post->cover.'" alt=""></div><hr>';
                    }
                ?>
                <?php
                  echo nl2br($post->content);
                ?>
                <hr>
            </div>

            <div class="comment col-md-12">
                <?php
                  if($post->comment_setting == 'public'){
                    echo '<h1>COMMENT</h1>';
                      foreach($post->comment as $comment){
                        if(($comment->owner->user_id == $user->user_id) or ($post->owner->user_id == $user->user_id) or ($user->level == 'admin')){
                            echo comment($comment,true);
                        }else{
                            echo comment($comment);
                        }
                      }

                      if($user->is_login()){
                            echo comment_form($post,$user);
                      }
                  }else{                   
                        echo '<h4>comment disabled</h4>';
                  }
                ?>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
