
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <h1 class="page-header">
                    Post
                    <small> all </small>
                </h1>

                <!-- Blog Post -->
                <?php
                  foreach($post['list'] as $v){
                    echo index_post($v);
                  }
                ?>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
