    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<?php echo base(); ?>"><?php echo $site['name']; ?></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="<?php echo base(); ?>">HOME</a>
                    </li>                                  
                    <li>
                        <a href="<?php echo base('contact'); ?>">Contact</a>
                    </li>                   
                </ul>

                <ul class="nav navbar-nav navbar-right"> 
                    <li style="padding-top: 14px;">
                        <p>login as <span style="color:#a2df54;">(<?php echo $user->name; ?>)</span></p>
                    </li> 
                    <li>
                        <a href="<?php echo base('action/logout'); ?>">Logout</a>
                    </li>                       
                </ul>               
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>