/*!
 * Start Bootstrap - Blog Home (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

        
.cover{
   height: 250px;
   overflow: hidden;
}

.cover img{
    width: 100%;
}

.btn-post{
	padding: 20px;
	font-size:30px;
}